/checkpoints
/metamaterial_design_prompts.csv
/nohup.out
/results
/wandb
__pycache__/*
*.pyc
*.pkl
*.log
*.ckpt
*.h5
*.pt
*.pth
*.db
*.jpg
# *.png
sprint1-drop4-problems.jsonl
metamaterial_design_prompts.csv
run_modal_agent.py
train_ae.py
# train_generator.py
train_predictor.py
evaluation.py
# batch_claim_pipeline.py
.vev/
/_mdopt
/baselines
/batch_runs
/_gens